# TypeScript build output
**/*.js
**/*.js.map
**/*.d.ts
**/*.d.ts.map

# Node
node_modules/

# Prisma
prisma/generated/

# Logs
*.log
qr.png

# Env secrets
.env
.env.*
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*
